<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Document</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <style>
      #idezet {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: x-large;
      }
      #szerzo {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
      }
    </style>
</head>
<body>
  <p id="idezet"> <%= idezet.quote %> </p>
  <p id="szerzo"> <%= idezet.author %> </p>
</body>
</html>
