<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <table>
    <% for (let elem of topauth) { %>
      <tr>
    <td><%= elem[0] %></td>
    <td><%= elem[1] %></td>
  </tr>
    <% } %>
    </table>
</body>
</html>
